html
    head
        title Lazy B Weather Analytics
        link(href='https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css')
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
        style.
            * {
                font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
                font-weight: 200;
                color: #ccc;
            }

            body {
                background-color: #222;
                /* overflow: hidden; */
                margin: 0;
                padding: 0;
                max-height: 100%;
            }

            .center {
                top: 0;
                width: 100%;
                height: 100vh;
                margin: auto;
                flex-direction: column;
                text-align: center;
            }

            .cols {
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: space-around;
                align-content: space-around;
                margin: auto;
                white-space: nowrap;
                font-size: 2.5vmin;
                max-height: 75vh;
                min-width: 100vmin;
            }

            .fit-cover {
                width: 100vmin;
                max-width: 100vw;
                object-fit: scale-down;
                margin: auto;
            }

            h1 { 
                font-size: 5vmin; 
                padding: 0;
                margin: 0;
            }


    body

        div(class="center")
            div
                h1 Under construction.
                - var _ver = process.version
                h1="Using node " + _ver
                div(class="cols")
                    //- - var _md5 = fs.readFile('snapshot.png', function(err, buf) { (require('md5'))(buf) });
                    //- - var _md5 = fs.readFileSync('snapshot.png', function(err, buf) { return md5(buf) });
                    img(src="snapshot.png?" + _md5 class="fit-cover")
                    h2(id="weather" style="margin: auto;")
                script.
                    var weather;
                    $.getJSON("./weather.json", function(json) { 
                        json.uptime = dhm(json.uptime);
                        weather = JSON.stringify(json, null, "\t").replace(/\"/g, "").slice(3,-2).split(/,\n\t*/).slice(0,-1).join("<br/>")
                        var _ts = (new Date(json.timestamp)).toLocaleString().split(", ");
                        weather += "<br/>Last updated at " + _ts[1] +", "+_ts[0];
                        }).done(function() {
                        document.getElementById("weather").innerHTML = weather;
                        console.log("json loaded")
                    }).fail(function() {
                        console.log( "Could not load weather data from server.");
                    });

                    function dhm(ms){
                        days = Math.floor(ms / (24*60*60*1000));
                        daysms=ms % (24*60*60*1000);
                        hours = Math.floor((daysms)/(60*60*1000));
                        hoursms=ms % (60*60*1000);
                        minutes = Math.floor((hoursms)/(60*1000));
                        minutesms=ms % (60*1000);
                        sec = Math.floor((minutesms)/(1000));
                        return (days > 0 ? days+"d " : "") + hours+"h "+minutes+"m "+sec+"s";
                    }