@import url('https://fonts.googleapis.com/css?family=Assistant:200|Biryani:200|Roboto:200');
* {
    font-weight: 200;
    /* color: #ddd; */
    color: #222;
    font-family: 'Assistant', sans-serif;
}

body {
    display: flex;
    /* background-color: #222; */
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
}

canvas {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.center {
    /* top: 0; */
    /* width: 100%; */
    /* height: 100vh; */
    /* padding-top: 2.5em; */
    /* padding-bottom: 2.5em; */
    /* padding-left: -2em; */
    /* padding-right: 0; */
    padding: 2.5em;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* background-color: rgba(225, 225, 225, 0.4); */
    /* justify-content: space-around; */
    /* border-radius: 10em; */
    /* box-shadow: inset 0 0 0 3000px rgba(225, 225, 255, 0.5); */
    box-shadow: 0em 3em 3em 1em rgba(0, 0, 0, 0.65);
    /* background: -moz-radial-gradient(rgba(227, 227, 227, 1) 10%, rgba(255, 255, 255, 0) 80%); */
    /* background: -webkit-radial-gradient(rgba(227, 227, 227, 1) 10%, rgba(255, 255, 255, 0) 90%); */
    /* background-position: center; */
    z-index: 1;
}

.cols {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-content: space-around;
    margin: auto;
    white-space: nowrap;
    font-size: 2.5vmin;
    max-height: 75vh;
    /* min-width: 100vmin; */
}

.fit-cover {
    /* width: 100vmin; */
    /* max-width: 100vw; */
    /* object-fit: scale-down; */
    /* margin: auto; */
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    font-size: 5vmin;
    padding: 0;
    margin: 0;
}
