html
    head
        title Graph Viewer
        meta(charset='utf-8')
        style.
            body { 
                background: rgb(127,127,127);
            }
            svg {
                max-height: 100vh;
                max-width: 100vw;
            }
    body.
        !{graph}
        
