html
    head
        title Graph Viewer
        meta(charset='utf-8')
        style.
            body { 
                background: rgb(127,127,127);
            }
            svg {
                object-fit: contain;
            }
    body.
        !{graph}
        
