html
    head
        title Graph Viewer
        meta(charset='utf-8')
        style.
            body { 
                background: rgb(127,127,127);
            }
    body
        svg.
            !{graph}
        
