html
    head
        title Weather Analytics
        meta(charset='utf-8')
        meta(http-equiv="refresh", content="300")
        //- script(src="/rain.js")
        //- style="body { background-image: url(" + imageBase64 + "); }"
        style="body { background-image: url(/"+imageFileName + "?" + imageTimestamp + "); }"
        //- style=":root { --text-color: white; --shadow-color: black; }"
        //- style="body:before { box-shadow: inset 0 0 100vw 100vw rgba(" + palette + ",0.2); }"
        link(rel="stylesheet", href="/style.css")        
    body
        
        //- div(class="center" style="background-color: rgba(" + palette + ", 0.75)")
        div(class="center rows")
            div(class="rows")
                h1="Updated @ " + weatherTimestamp
                div(class="underlined")
            div(class="cols")
                //- video(autoplay='', loop='', muted='')
                    //- source(src='http://i.imgur.com/JqNIMcx.mp4', type='video/mp4')
                div(class="rows")
                    each val in measurements
                        p=val
                        
                
