.container
  .photo
    .window
      .blurred
        .photo
      .rain
        .shadows
          - (1..100).each do
            .shadow
        .drops
          - (1..100).each do
            .drop
      .frosted
      .content
        .card
          %img.avatar
          %h1.name Josh W Lewis
          %p.intro
            Hi, I'm Josh. I build and design software for the web. I'm currently building a new experience for teams and organizations at Heroku.
         